{% load static %}

<div class="row">
    <div class="col-xs-3">
        <p>&copy; 2020 Insight - <a href="/Privacy">Privacy and Cookies Policy</a> </p>
    </div>
    <div class="col-xs-2">
        <a href="https://www.insight-centre.org/"><img src="{% static 'img/insight_logo.png' %}" style="margin-left: 10px; margin-right: 10px; max-height: 20px; max-width: auto;" alt="Insight Centre for Data Analytics Logo" /> </a>
    </div>
    <div class="col-xs-2">
        <a href="https://www.ucc.ie/"><img src="{% static 'img/ucc_logo.png' %}" style="margin-left: 10px; margin-right: 10px; max-height: 20px; max-width: auto;" alt="University College Cork Logo" /> </a>
    </div>
    <div class="col-xs-2">
        <a href="https://www.sfi.ie/"><img src="https://www.sfi.ie/site-files/cms-templates/img/sfi-logo.svg" style="margin-left: 10px; margin-right: 10px; max-height: 20px; max-width: auto;" alt="Science Fundation Ireland Logo"/> </a>
    </div>
    <div class="col-xs-2">
        <a href="http://crt-ai.cs.ucc.ie/"><img src="{% static 'img/crt_logo.png' %}" style="margin-left: 10px; margin-right: 10px; max-height: 20px; max-width: auto;" alt="Centre for Research and Training Logo" /> </a>
    </div>
    <div class="col-xs-2">
        <a href="https://assistant-project.eu/"><img src="{% static 'img/assistant.png' %}" style="margin-left: 10px; margin-right: 10px; max-height: 20px; max-width: auto;" alt="Centre for Research and Training Logo" /> </a>
    </div>
</div>