
{% extends "Shared/_layout.html" %}

{% block header %} My Altais - ALTAI {%endblock%}


{%block main1%}{% endblock %}

{%block main2%}

<div class="row">
    <div class="col-md-4">
        <h1>My TAI - PRMs</h1>
        <p>In this page you can find all your TAI - PRMs</p>
    </div>

    
    <div class="col-md-8">

        <div class="card-columns mb-3">
            <div class="card al-card text-center mb-3">
                <i class="fa fa-plus card-img-top card-icon">
                    <h4 class="card-title">Add a new Trustworthy AI - Process Risk Management</h4>
                </i>
                <div class="card-body">
                    <a class="btn btn-primary card-btn" style="text-align: center;" href="myTaiprmCreate">Create</a> <!-- the url is for add the assesss-->
                </div>
            </div>
        </div>

        <h2>Your existing TAI-PRMs</h2>
        <div class="card-columns">
            {% for x in taiprm %}
            <div class="card al-card text-center mb-3">
                <i class="fa fa-book card-img-top card-icon"> {{x.title}} </i>
                <h4 class="card-title"> Created: {{x.publication_date}} </h4>
                <h4 class="card-title"> Modified: {{x.last_modified}} </h4>

                <div class="card-body">
                    <div class="progress mb-4">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 0%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                        <div class="progress-bar bg-warning" role="progressbar" style="{{x.porcentage}}" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <a class="btn btn-primary card-btn" style="text-align: center;" href="{% url 'myTaiprmHome' x.pk %}"> View </a>
                    <a onclick="return confirm('Are you sure you want to delete {{ x.title }} ?')" class="btn btn-danger card-btn" href="{% url 'myTaiprmDelete' x.pk %}"> Delete </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



{% endblock %}


{%block main3%}{% endblock %}

{% block footer %}{% endblock %}


{% block footer2 %}{% endblock %}



{% block last %}{% endblock %}
