{% extends "Shared/_layout.html" %}
{% load static %}


{%block head%}
    <title>ALTAI - RESULTS </title>
{%endblock%}
{% block navbar %}
{% endblock%}

{% block main1%}{%endblock%}

{%block main2%}
<div class="row">

    {% include "Shared/_survey.html" %}

    <div class="col-md-9">
        <div id="surveyContainer">
            <form method='POST'>
            {% csrf_token %}
    
            <div class="panel-heading card-header" style="display: inline-block; width:100%;">
                <div class="sv_header__text" >
                    <h3><span style="position: static;">Self Assessment Results</span></h3>
                    <h5>
                </div>
            </div>
            </div>
            {% if chart %}
            <div style="margin-left: 100px; margin-right: 50px;">
                <img src="data:image/png;base64, {{chart|safe}}">
            </div>
            {% endif %}


            <!--       Description section                   -->
            <div class="sv_qstn" id="sq_100" name="title" style="flex: 1 1 100%; width: 80%; min-width: 300px; max-width: initial;margin-top: 10px;">
                <h3>Recommendations</h3>



                <h5>Human agency and oversight</h5>

                {% if altai.status1 %}
                    {% for j in R1 %}
                        {{j}} </br> </br>
                    {% endfor %}
                {% else %}
                    This requirement has been completed partially. Please go back and press the validation button on the end of the requirement.
                {% endif %}


                <h5>Technical robustness and safety</h5>

                {% if altai.status2 %}
                    {% for j in R2 %}
                        {{j}} </br> </br>
                    {% endfor %}
                {% else %}
                    This requirement has been completed partially. Please go back and press the validation button on the end of the requirement.
                {% endif %}

                <h5>Privacy and Data Governance</h5>

                

                {% if altai.status3 %}
                    {% for j in R3 %}
                        {{j}} </br> </br>
                    {% endfor %}
                {% else %}
                    This requirement has been completed partially. Please go back and press the validation button on the end of the requirement.
                {% endif %}

                <h5>Transparency</h5>

                

                {% if altai.status4 %}
                    {% for j in R4 %}
                        {{j}} </br> </br>
                    {% endfor %}
                {% else %}
                    This requirement has been completed partially. Please go back and press the validation button on the end of the requirement.
                {% endif %}

                <h5>Diversity, non-discrimination and fairness</h5>

                
                {% if altai.status5 %}
                    {% for j in R5 %}
                        {{j}} </br> </br>
                    {% endfor %}
                {% else %}
                    This requirement has been completed partially. Please go back and press the validation button on the end of the requirement.
                {% endif %}

                <h5>Societal and environmental well-being</h5>

                

                {% if altai.status6 %}
                    {% for j in R6 %}
                        {{j}} </br> </br>
                    {% endfor %}
                {% else %}
                    This requirement has been completed partially. Please go back and press the validation button on the end of the requirement.
                {% endif %}

                <h5>Accountability</h5>

                {% if altai.status7 %}
                    {% for j in R7 %}
                        {{j}} </br> </br>
                    {% endfor %}
                {% else %}
                    This requirement has been completed partially. Please go back and press the validation button on the end of the requirement.
                {% endif %}
            </div>

            <div class="panel-heading card-header" style="display: inline-block; width:100%;">
                <div class="sv_header__text" >
                    <h3><span style="position: static;">General Assessment Results</span></h3>
                    <h5>
                </div>

            </div>

            {% for key,value in charts.items %}

                    {{Key}}
                    {% if altai.User_domain in key %}
                        <div style="margin-left: 100px; margin-right: 50px;">
                            <img src="data:image/png;base64, {{value|safe}}">
                        </div>
                    {% endif %}
                {% endfor %}


</form>

</div>
</div>


{% endblock %}


{% block footer%}
{%endblock%}

{%block lastk%}
{% endblock %}