{% extends "Shared/_layout.html" %}
{% load static %}

{%block head%}
    <title>Create - ALTAI</title>
{%endblock%}


{% block navbar %}{% endblock%}

{% block main1%}

{%endblock%}

{%block main2%}
<div class="row">

    <div class="col-md-4">
        <h1>New Assessment List</h1>
        <p>Create a new Assessment List</p>
    </div>
    <div class="col-md-7">
        <div id="surveyContainer">
            <h2> Create a new Assessment List  </h2>
            <form method='POST'>
                {% csrf_token %}
                {% for x in form %}
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            {% if forloop.counter == 1 %}
                            <h4>Title for the Altai</h4>
                            {% elif forloop.counter == 2%}
                            <h4>Application Domain</h4>
                            {% elif forloop.counter == 3%}
                            <h4>AI Functionality</h4>
                            {% elif forloop.counter == 4%}
                            <h4>Stage of the AI</h4>
                            {% elif forloop.counter == 5%}
                            <h4> Your Category for the AI Asset </h4>
                            {% endif %}
                            {{x}}
                        </div>
                        </li>
                    </br>
                    </ol>

                {% endfor %}
                <button class="btn btn-primary card-btn" style="text-align: center;">Accept the terms and create the Altai</button>

            <div>
                <p>This website is a prototype of an interactive version of the Assessment List for Trustworthy AI. We encourage you not to use personal information or intellectual property while using this website. Full details of how we process personal data and your rights under Data Protection legislation are set out in our <a href="https://altai.insight-centre.org/Home/Privacy">Privacy Statement</a>.  </p>
            </div>
        </form>
        </div>
    </div>

</div>
{% endblock %}


{% block footer%}{%endblock%}



{%block lastk%}
{% endblock %}