{% extends "Shared/_layout.html" %}
{% load static %}

{%block head%}
    <title> Fundamental Rights - ALTAI</title>
{%endblock%}


{% block navbar %}

    {% if request.user.is_authenticated %}
        {% include "Shared/_Navbarin.html" %}
    {% else %}
        {% include "Shared/_NavbarOut.html" %}
    {% endif %}

{% endblock%}

{%block main2%}
<div class="row align-items-center">
    <div class="col-md-8 offset-2 text-justify">
        <h1>
            Fundamental Rights
        </h1>
        <p>
            Fundamental rights encompass rights such as human dignity and non-discrimination, as well as rights in relation to data protection and privacy, to name just some examples. Prior to self-assessing an AI system with this Assessment List, a fundamental rights impact assessment (FRIA) should be performed. 

            A FRIA could include questions such as the following – drawing on specific articles in the Charter and the <a href="https://www.echr.coe.int/Documents/Convention_ENG.pdf">European Convention on Human Rights (ECHR)</a>  its protocols and the <a href="https://www.coe.int/en/web/european-social-charter">European Social Charter</a>. 

        </p>
        <p>
            <ol>
                <li>
                    <b>Does the AI system potentially negatively discriminate against people on the basis of any of the following grounds (non-exhaustively)</b>: sex, race, colour, ethnic or social origin, genetic features, language, religion or belief, political or any other opinion, membership of a national minority, property, birth, disability, age or sexual orientation? 

                    <ul>
                        <li>
                            Have you put in place processes to test and monitor for potential discrimination (bias) during the development, deployment and use phase of the AI system?
                        </li>
                        <li>Have you put in place processes to address and rectify for potential discrimination (bias) in the AI system?</li>
                    </ul>

                </li>
                <li>
                    <b>Does the AI system respect the rights of the child</b>, for example with respect to child protection and taking the child’s best interests into account?
                    <ul>
                        <li>
                            Have you put in place processes to test and monitor for potential harm to children during the development, deployment and use phase of the AI system?
                        </li>
                        <li>Have you put in place processes to address and rectify for potential harm to children by the AI system? </li>
                    </ul>

                </li>
                <li>
                    <b>Does the AI system protect the right to privacy, including personal data relating to individuals in line with <a href="https://gdpr.eu">GDPR</a>? </b>
                    <ul>
                        <li>Have you put in place processes to assess in detail the need for a data protection impact assessment, including an assessment of the necessity and proportionality of the processing operations in relation to their purpose, with respect to the development, deployment and use phases of the AI system?</li>
                        <li>Have you put in place measures envisaged to address the risks, including safeguards, security measures and mechanisms to ensure the protection of personal data with respect to the development, deployment and use phases of the AI system?</li>
                        <li>See the section on Privacy and Data Governance in this Assessment List, and available guidance from the <a href="https://edps.europa.eu/sites/edp/files/publication/19-07-17_accountability_on_the_ground_part_ii_en.pdf">European Data Protection Supervisor</a>.</li>
                    </ul>

                </li>
                <li>
                    <b>Does the AI system respect the freedom of expression or assembly?</b>
                    <ul>
                        <li>
                            Could the AI-system potentially limit a person's freedom to openly express an opinion, partake in a peaceful demonstration or join a union?
                        </li>
                    </ul>

                </li>
            </ol>
        </p>
    </div>
</div>
{% endblock %}




{%block lastk%}
{% endblock %}








